input[type=text],
input[type=password],
select,
textarea {
	background-color: #fff;
	font: inherit;
	color: #666;
	border: 0;
	padding: 4px;
	line-height: normal;
	margin: 0;
	outline: none;
}
input[type=submit],
input[type=button] {
	cursor: pointer;
	border: 0;
	font: inherit;
}
textarea {
	resize: none;
}
input[type=submit]::-moz-focus-inner {
	border: 0;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #aaa;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #aaa;
}