/* VARS */

$family: sans-serif;
$text-color: #333;
$link-color: #39e;

/* GLOBALS */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
body {
	background: #fff;
	text-align: center;
	font: 100%/130% $family;
	color: $text-color;
}
a {
	color: $link-color;
	text-decoration: none;
	&:hover {
		color: $text-color;
	}
}

/* UTILITY CLASSES */

.left {
	float: left;
}
.right {
	float: right;
}
.block {
	display: block;
}
.hidden {
	display: none;
	visibility: hidden;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

/* UI ELEMENTS */

i,
.btn {
	display: inline-block;
}